.photo {
    border-radius: 30px;
    height: 160px;
}

.sidebar {
    width: 20%;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    height: 100%;
}

@media (max-width:687px) {
    .sidebar {
        width: 100%;
    }
}