.navbar{
    background-color: rgb(238, 204, 171);
    margin: 0px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    width: 10%;
}
p{
    margin: 0px;
}
.navbar-content{
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
}